
*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Josefin Sans",sans-serif;
}

body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.banner{
    background-image: url(https://camo.githubusercontent.com/015fb7c8bcc0358082d1ed91078c4c5c6cd90f0278a42ca9052fbf532b68580a/68747470733a2f2f7669676e657474652e77696b69612e6e6f636f6f6b69652e6e65742f7269636b616e646d6f7274792f696d616765732f322f32372f506f636b65745f6d6f727479735f62616e6e65722e6a7067);
    height: 300px;
    background-position: 85% 3%;
    background-repeat: no-repeat;
    background-size: cover;
}

.toggle{
  width: 55px;
  height: 25px;
  border-radius: 25px;
  padding: 2px;
  margin-left: 20px;
  cursor: pointer;
}
.toggle-circle{
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  left: 30px;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-tittle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container h1{
    font-family: "Pangolin";
    text-align: center;
    font-size: 3rem;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.searchBox{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.searchBox input{
    border-radius: 5px 0 0 5px;
    border-right: none;
    text-align: center;
    width: 70vw;
    font-size: 1.1rem;
    margin-top: 30px;
    padding: 10px;
  }
  .searchBox input:focus{
    outline: none;
  }
  .searchBox input:hover{
    outline: none;
  }
  .searchBox button{
    border-left: none;
    border-radius: 0 5px 5px 0;
    width: 100%;
    font-size: 1.1rem;
    margin-top: 30px;
    padding: 10px;
  }
  .searchBox button:hover{
    cursor: pointer;
  }

  .resident-title{
    margin: 20px;
  }
  .location{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

.location-specs{
      display: flex;
      justify-content: space-around;
      width: 100%;
      gap: 40px;
  }

.card-status{
  display: flex;
  width: 100%;
}
.circle-green{
  border-radius: 50%;
  height: 8px;
  margin-right: 10px;
  width: 8px;
  background-color: #90c94b;
}
.circle-red{
  border-radius: 50%;
  height: 8px;
  margin-right: 10px;
  width: 8px;
  background-color:rgb(241, 1, 1);
}
.circle-grey{
  border-radius: 50%;
  height: 8px;
  margin-right: 10px;
  width: 8px;
  background-color:#73706f;
}

.card-container{
   height: auto;
    margin: 30px;
    
}
 .card{
 
  margin-bottom: 20px;
  margin-top: 20px;
    border-radius: 5px;
    transition: all .3s;
    height: auto;
 }
 .card:hover{
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
 }

 .card img{
    width: 100%;
 }
 .card-specs{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px;
 }
 .card-specs h4, h5, p{
   font-size: 0.9rem
 }

 
 .light-grey{
    color: #73706f;
 }
 .pages{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 7px;
 }
 .total-pages{
  display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 7px;
 }
 .page-number{
  display: block;
  font-size: 18px;
  padding: 4px 8px;
  font-weight: 200;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform .2s ease;
 }
 .page-number:active{
  font-weight: 900;
  font-size: 20;
  transform: scale(1.2);
  transition: transform .2s ease;
  text-decoration: underline;
 }
 .page-number:focus{
  font-weight: 900;
  font-size: 20;
 }
.page-number:hover{
  transform: scale(1.2);
    transition: transform .2s ease;
}
 .loader {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.loader span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  animation: animate 5s linear infinite;
}
.loader span:nth-child(1) {
  border-radius: 38% 62% 64% 36% / 43% 35% 65% 57%;
}
.loader span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 41% 59% 40% 60% / 65% 66% 34% 35%;
}
.loader span:nth-child(3) {
  animation-duration: 3s;
  border-radius: 73% 27% 56% 44% / 57% 74% 26% 43%;
}
@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.loader h2 {
  font-weight: 500;
  font-family: consolas;
}
 @media only screen and (min-width: 450px) {
   .card-container{
    justify-content: center;
  
  
   }
   .card{
    display: flex;
    width: 100%;
   }
   .card img{
     height:230px;
   }
  .resident-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  }
  @media only screen and (min-width: 768px) {
    .card img{
      width: 190px;
    }
    .card-specs h4,h5,p{
      font-size: 0.8rem;
    }
    .card-container{
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: auto;
     gap: 30px;
    }
  
   
   }
   @media only screen and (min-width: 800px) {
      .card{
        width: 350px;
      }
    .card-specs h4,h5,p{
      font-size: 0.9rem;
    } 
    
   }
   @media only screen and (min-width: 850px) {
    .card{
      width: 380px;
    }
   
 
}

     /*-------DARK MODE--------*/
.dark-mode{
  color: #fff;
}
.dark-mode .toggle{
  background-color: #5f4e4ec5;
}
.dark-mode .toggle-circle{
  background-image: url(https://thumbs.dreamstime.com/b/full-moon-cartoon-flat-design-vector-illustration-black-background-144126284.jpg);
  background-size: contain;
 
  left: 0;
  transition: left 400ms ease;
}
.dark-mode .container{
  background: rgb(39, 33, 33);
}
.dark-mode .searchBox input{
  background-color: #443737;
  border: 1px solid #000;
}
.dark-mode .searchBox input:focus{
  box-shadow: 0 0 3px #90c94b;
  color: #90c94b;
}
.dark-mode   .searchBox input:hover{
  box-shadow: 0 0 3px #90c94b;
}
.dark-mode .card{ 
background-color: #3d3535;
border: 1px solid #92cb4c;
}
.dark-mode .card:hover{
  box-shadow: 0 0 6px #d3e154;
  color: #90c94b;
}
.dark-mode .light-grey:hover{
  color: #d3e154;;

}
.dark-mode .page-number{
  color: rgba(221, 221, 221, 0.829);
 }
 .dark-mode .page-number:active{
  color: #90c94b;
 }
 .dark-mode .page-number:focus{
  color: #90c94b;
 }
.dark-mode .loader span{
  border: 2px solid #fff;
}
.dark-mode .loader h2{
  color: #fff;
}
.dark-mode .searchBox button{
  background-color: #272121;
  border: 1px solid #000;
  color: #fff;
}

 /*-------LIGHT MODE--------*/
 .light-mode{
  color: #272121;
}
.light-mode .toggle{
  background-color: #8cfbff50;
  border: 2px solid #8cfbff69;
}
.light-mode .toggle-circle{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5u132QIFY7hIpJAkecAY0g5NAYsescyWOlF0emlZJ9-fTWyzwGeWkwcpeRltEpL9nSWY&usqp=CAU);
  background-size: cover;
  background-repeat: no-repeat;
  left: 30px;
  transition: left 400ms ease;
}
.light-mode .container{
  background:  #fff;;
}
.light-mode .searchBox input{
  background-color: #8cfbff69;
  border: 1px solid rgb(0, 6, 24);
}
.light-mode .searchBox input:focus{
  box-shadow: 0 0 3px #01133ade;
  color: rgb(0, 6, 24);
}
.light-mode   .searchBox input:hover{
  box-shadow: 0 0 3px #01133ade;
}
.light-mode .card{ 
background-color: #fff;
border: 1px solid #01133ade;
}
.light-mode .card:hover{
  box-shadow: 0 0 6px #01133ade;
}
.light-mode .page-number{
  color: #00767ac7;
 }
 .light-mode .page-number:active{
  color: #012324;
 }
 .light-mode .page-number:focus{
  color: #012324;
 }
.light-mode .loader span{
  border: 2px solid #272121;
}
.light-mode .loader h2{
  color: #272121;
}
.light-mode .searchBox button{
  background-color: #01133ade;
  border: 1px solid #000;
  color: #fff;
}

